 /* Стилі для блоків з user - по 2 в рядок */
#user-list {
    width: 100%; /* Залишити 2% на відступ між блоками */
    margin-right: 2%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Стилі для кнопок/посилань під інформацією про user  */
.show-user {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Стилі для блоків з user - по 2 в рядок */
.user-block {
    width: 48%; /* Залишити 2% на відступ між блоками */
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Стилі для блоку з інформацією про user зверху сторінки */
#user-details {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

/* Стилі для кнопки під інформацією про user */
#show-posts {
    display: block;
    margin: 20px auto;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.post-title{
    min-height: 50px;
}

#user-posts {
    width: 100%;
    margin-right: 1%;
    float: left;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

#post-details {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.post-details-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.post-block {
    width: 17%; /* Залишити 1% на відступ між блоками */
    margin-right: 1%;
    float: left;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 150px;
}

/* Стилі для блоків з коментарями - по 4 в ряд */
.post-commentar {
    width: 20%; /* Залишити 1% на відступ між блоками */
    margin-right: 1%;
    float: left;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 200px;
}